{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers":["last 2 versions"]
          }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env":{
    "production": {
      "presets": [ ["minify", {"mangle":false}] ]
    }
  }
}